    <link href="css/style.min.css"  rel="stylesheet"><base target="_blank">
    <div class="ibox-content">
        <a href="{{item.url}}" class="btn-link">
            <h2>
                    {{item.title}}
                </h2>
        </a>
        <div class="small m-b-xs">
            <strong>{{item.author}}</strong> <span class="text-muted"><i class="fa fa-clock-o"></i> {{item.time}} 小时前</span>
        </div>
        <p>
              {{item.content}}
        </p>
        <div class="row">
            <div class="col-md-6">
                <h5>标签：</h5>
                <button class="btn btn-primary btn-xs" type="button">Apple Watch</button>
                <button class="btn btn-white btn-xs" type="button">速比涛</button>
            </div>
            <div class="col-md-6">
                <div class="small text-right">
                    <h5>状态：</h5>
                    <div> <i class="fa fa-comments-o"> </i> 56 评论 </div>
                    <i class="fa fa-eye"> </i> 144 浏览
                </div>
            </div>
        </div>
    </div>
